<launch>

	<!-- acquisition arguments -->
	<arg name="plugin" value='rosneuro::EGDDevice'/>
	<arg name="devarg" value="/home/user/neurodata/ah7.20170613.161402.offline.mi.mi_bhbf.gdf"/>
	<arg name="framerate" value='16'/>
	<arg name="samplerate" value='512'/>
	<arg name="autostart" value='true'/>
	<arg name="filepath" value='$(find logbandpower)/results/'/>
	<arg name="channel" value='7'/>
	<arg name="threshold" value='0.025'/>

	<!-- load filter chain parameters -->
	<rosparam command="load" file="$(find logbandpower)/cfg/ChainCfg.yaml" />

	<!-- acquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
		<param name="~plugin" 	  value="$(arg plugin)"/>
		<param name="~devarg" 	  value="$(arg devarg)"/>
		<param name="~samplerate" value="$(arg samplerate)"/>
		<param name="~framerate"  value="$(arg framerate)"/>
		<remap from="/neurodata" to="/eeg/raw"/>
	</node>


	<node name="neuroviz" pkg="rosneuro_visualizer" type="neuroviz" required="true">
		<remap from="/neurodata" to="/eeg/raw"/>
	</node>

	<node name="filterchain_node" pkg="rosneuro_filters" type="filterchain_node" output="screen" >
		<param name="configname" value="ChainCfg" />
		<remap from="/neurodata" to="/eeg/raw"/>
		<remap from="/neurodata_filtered" to="/eeg/filtered"/>
	</node>

	<!-- Recording filtered data-->
	<node pkg="rosbag" type="record" name="rosbag_record_filtered" 
		args="record /neurodata -o $(arg filepath)eeg_filtered.bag" />

	<!-- Recording bandpower data-->
	<node pkg="rosbag" type="record" name="rosbag_record_bandpower" 
		args="record /bandpower_data -o $(arg filepath)eeg_bandpower.bag" />

	<!-- Recording event data-->
	<node pkg="rosbag" type="record" name="rosbag_record_events" 
		args="record /events -o $(arg filepath)events_bus.bag" />


	<node name="bandpower" pkg="logbandpower" type="bandpower.py" output="screen" >
		<param name="rate" value="$(arg framerate)"/>
	</node>

	<!-- Thresholding -->
	<node name="thresholding" pkg="logbandpower" type="thresholding_node.py" output="screen">
		<param name="selected_channel" value="$(arg channel)"/>
		<param name="threshold" value="$(arg threshold)"/>
	</node>
</launch>