<launch>

    <!-- acquisition arguments -->
	<arg name="plugin" value='rosneuro::EGDDevice'/>
	<arg name="devarg" value="/home/user/neurodata/ah7.20170613.161402.offline.mi.mi_bhbf.gdf"/>
	<arg name="framerate" value='16'/>
	<arg name="samplerate" value='512'/>
	<arg name="autostart" value='true'/>
	<arg name="filepath" value='$(find logbandpower)/data/'/>

	<!-- load filter chain parameters -->
	<rosparam command="load" file="$(find logbandpower)/cfg/ChainCfg.yaml" />
   
	<!-- acquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
  	  <param name="~plugin" 	  value="$(arg plugin)"/>
  	  <param name="~devarg" 	  value="$(arg devarg)"/>
  	  <param name="~samplerate" value="$(arg samplerate)"/>
  	  <param name="~framerate"  value="$(arg framerate)"/>
	  <remap from="/neurodata" to="/eeg/raw"/>
  	</node>


    <node name="neuroviz" pkg="rosneuro_visualizer" type="neuroviz" required="true">
		<remap from="/neurodata" to="/eeg/raw"/>
	</node>

    <node name="filterchain_node" pkg="rosneuro_filters" type="filterchain_node" output="screen" >
		<param name="configname" value="ChainCfg" />
		<remap from="/neurodata" to="/eeg/raw"/>
        <remap from="/neurodata_filtered" to="/eeg/filtered"/>
	</node>

	<!-- recording node -->
 	<node name="recorder" pkg="rosneuro_recorder" type="recorder" >
		<param name="~autostart" value="$(arg autostart)"/>
		<param name="~filepath" value="$(arg filepath)"/>
		
		<remap from="/neurodata" to="/eeg/filtered"/>
		<remap from="/events" to="/events/bus"/>
		<remap from="/bandpower_data" to="/eeg/bandpower"/>
	</node>


	<node name="bandpower" pkg="logbandpower" type="bandpower.py" output="screen" >
		<param name="rate" value="framerate"/>
	</node>

	<!-- Thresholding -->
	<node name="thresholding_C3" pkg="logbandpower" type="thresholding_node.py" output="screen">
		<param name="selected_channel" value="7"/>
		<param name="threshold" value="0.05"/>
	</node>

	<node name="thresholding_Cz" pkg="logbandpower" type="thresholding_node.py" output="screen">
		<param name="selected_channel" value="9"/>
		<param name="threshold" value="0.05"/>
	</node>

	<node name="thresholding_C4" pkg="logbandpower" type="thresholding_node.py" output="screen">
		<param name="selected_channel" value="11"/>
		<param name="threshold" value="0.05"/>
	</node>
</launch>